
body{
    
    background-color: #2D6B90;
    
}

#datos{
   padding:1em;
    border-radius: 13px 13px 13px 13px;
    -moz-border-radius: 13px 13px 13px 13px;
    -webkit-border-radius: 13px 13px 13px 13px;
   border: 2px solid;
   background-color: #00BE5D;
   opacity: 0.9;
   filter: alpha(opacity=90)
}
#instruccion{
    top:20%;
    left:28%;
    position:fixed;
    height: auto;
    width: 600px;
    background-color: #00BE5D;
    text-align:center;
    /*Redondeando Bordes*/
    border-radius: 13px 13px 13px 13px;
    -moz-border-radius: 13px 13px 13px 13px;
    -webkit-border-radius: 13px 13px 13px 13px;
    border: 1px solid #000000;
}
#result{
    background-color:#00BE5D;
}
#dados,#dados1,#dados2,#dados3,#dados4,#dados5{
    width: 150px;
    height: 150px;
}

#Ctexto{
    height: 60px;
    font-size: x-large ;
    text-align: center;
}
/*Div donde va el cuadro de texto donde van los numeros con las operaciones*/
#operaciones{
    padding:20px;
    background-color: #00BE5D;
}
#operadores{
    width: 170px;
    height: 170px;
   
}
